<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" id = "com.pruebas.uno" version = "2.2.0">
	<name>Prueba1</name>
	<description>Prueba_1</description>
	<author href="http://www.settingconsultoria.com" email="">CLG</author>
	<gap:plugin name="ChildBrowser" /> 
  <preference name="phonegap-version" value="2.1.0" />
  <preference name="fullscreen" value="true" />
  <preference name="orientation" value="default" />
  <preference name="target-device" value="universal" />
  <preference name="webviewbounce" value="true" />
  <preference name="prerendered-icon" value="true" />
  <preference name="stay-in-webview" value="false" />
  <preference name="detect-data-types" value="true" />
  <preference name="exit-on-suspend" value="false" />
  <preference name="show-splash-screen-spinner" value="false" />
  <preference name="auto-hide-splash-screen" value="false" />
  <feature name="http://api.phonegap.com/1.0/battery"/>
  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/contacts"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/media"/>
  <feature name="http://api.phonegap.com/1.0/network"/>
  <feature name="http://api.phonegap.com/1.0/notification"/>
</widget>
